#grid-datos {
  width: 90%;
}

/* Botones */
.boton {
  margin: auto;
  display: block;
  width: 100%;
  border: 1px #cbcbcb solid;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.boton div {
  padding: 0.5rem;
  font-weight: 700;
}

/* Centrado tabla */
.centrado {
  display: flex;
  text-align: center;
  align-items: center;
}

.centrado2 {
  margin: auto;
}
.centrado2 p {
  margin: 0;
}

/* Foto de perfil*/
#foto-entera {
  display: flex;
  vertical-align: middle;
}

#fondo-foto {
  min-width: fit-content;
  display: inline-block;
  align-items: center;
  padding: 0.2rem;
  background-image: linear-gradient(
    0deg,
    rgba(222, 0, 70, 1) 0%,
    rgba(247, 163, 75, 1) 100%
  );
  border-radius: 50%;
}

ion-avatar {
  width: 8rem;
  height: 8rem;
}

#foto-perfil {
  vertical-align: middle;
  border-radius: 50%;
  border: white solid 0.2rem;
}

/* Nombre y descripción*/

#nombre {
  font-size: 1.5rem;
}

#nombre2 {
  padding-top: 0.5rem;
  padding-bottom: 0.25rem;
}

#descripcion {
  padding-top: 0.25rem;
  padding-bottom: 0.5rem;
}
