/*Ion card*/
ion-card {
  width: 90%;
  margin: 0 auto;
}

ion-card-header {
  width: 70%;
  margin: 0 auto;
}

ion-card-content {
  text-align: center;
}
/*Estilo de la imagen*/
ion-card-content img {
  width: 70%;
  height: auto;
}

ion-card-content img:hover {
  cursor: pointer;
}

/*Estilo Descripcion*/
.caption {
  font-size: 1rem;
  text-align: left;
  position: relative;
  left: 15%;
  color: black;
}

/*Estilo foto de usuario*/

#contenedor-foto {
  display: flex;
}

#fotoUsuario {
  margin: auto auto;
  width: 10vw;
  height: 10vw;
  border-radius: 100%;
  object-fit: cover;
}

/*Estilo Nombre de usuario*/

.cont-usuario {
  display: flex;
}

.usuario {
  color: black;
  font-weight: 700;
  font-size: 1rem;
  margin: auto 0;
}
