ion-card {
  width: 90%;
  margin: 0 auto;
}

ion-card-header {
  width: 70%;
  margin: 0 auto;
}

.usuario {
  font-size: 1rem;
}

ion-card-content {
  text-align: center;
}

ion-card-content img {
  width: 70%;
  height: auto;
}

.caption {
  font-size: 1rem;
  text-align: left;
  position: relative;
  left: 15%;
  color: black;
}

.card {
  border: solid 1px black;
  margin-top: 5px;
}

#fotoUsuario {
  border-radius: 100%;
}
